<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>ᏟᎾᏢᏢᎬᎡᏢᏞᎪᎢᎬ</string>
	<key>a</key>
	<string>Ꭺ</string>
	<key>b</key>
	<string>Ᏼ</string>
	<key>c</key>
	<string>Ꮯ</string>
	<key>d</key>
	<string>Ꭰ</string>
	<key>e</key>
	<string>Ꭼ</string>
	<key>f</key>
	<string>F</string>
	<key>g</key>
	<string>Ꮹ</string>
	<key>h</key>
	<string>Ꮋ</string>
	<key>i</key>
	<string>Ꮖ</string>
	<key>j</key>
	<string>Ꮣ</string>
	<key>k</key>
	<string>K</string>
	<key>l</key>
	<string>Ꮮ</string>
	<key>m</key>
	<string>Ꮇ</string>
	<key>n</key>
	<string>N</string>
	<key>o</key>
	<string>Ꮎ</string>
	<key>p</key>
	<string>Ꮲ</string>
	<key>q</key>
	<string>Q</string>
	<key>r</key>
	<string>Ꭱ</string>
	<key>s</key>
	<string>Ꮪ</string>
	<key>t</key>
	<string>Ꭲ</string>
	<key>u</key>
	<string>Ꮜ</string>
	<key>v</key>
	<string>Ꮩ</string>
	<key>w</key>
	<string>Ꮤ</string>
	<key>x</key>
	<string>X</string>
	<key>y</key>
	<string>Y</string>
	<key>z</key>
	<string>Ꮓ</string>
</dict>
</plist>
