<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>🅂🅀🅄🄰🅁🄴🅂</string>
	<key>a</key>
	<string>🄰</string>
	<key>b</key>
	<string>🄱</string>
	<key>c</key>
	<string>🄲</string>
	<key>d</key>
	<string>🄳</string>
	<key>e</key>
	<string>🄴</string>
	<key>f</key>
	<string>🄵</string>
	<key>g</key>
	<string>🄶</string>
	<key>h</key>
	<string>🄷</string>
	<key>i</key>
	<string>🄸</string>
	<key>j</key>
	<string>🄹</string>
	<key>k</key>
	<string>🄺</string>
	<key>l</key>
	<string>🄻</string>
	<key>m</key>
	<string>🄼</string>
	<key>n</key>
	<string>🄽</string>
	<key>o</key>
	<string>🄾</string>
	<key>p</key>
	<string>🄿</string>
	<key>q</key>
	<string>🅀</string>
	<key>r</key>
	<string>🅁</string>
	<key>s</key>
	<string>🅂</string>
	<key>t</key>
	<string>🅃</string>
	<key>u</key>
	<string>🅄</string>
	<key>v</key>
	<string>🅅</string>
	<key>w</key>
	<string>🅆</string>
	<key>x</key>
	<string>🅇</string>
	<key>y</key>
	<string>🅈</string>
	<key>z</key>
	<string>🅉</string>
</dict>
</plist>
