<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>🅢🅤🅑🅦🅐🅨</string>
	<key>a</key>
	<string>🅐</string>
	<key>b</key>
	<string>🅑</string>
	<key>c</key>
	<string>🅒</string>
	<key>d</key>
	<string>🅓</string>
	<key>e</key>
	<string>🅔</string>
	<key>f</key>
	<string>🅕</string>
	<key>g</key>
	<string>🅖</string>
	<key>h</key>
	<string>🅗</string>
	<key>i</key>
	<string>🅘</string>
	<key>j</key>
	<string>🅙</string>
	<key>k</key>
	<string>🅚</string>
	<key>l</key>
	<string>🅛</string>
	<key>m</key>
	<string>🅜</string>
	<key>n</key>
	<string>🅝</string>
	<key>o</key>
	<string>🅞</string>
	<key>p</key>
	<string>🅟</string>
	<key>q</key>
	<string>🅠</string>
	<key>r</key>
	<string>🅡</string>
	<key>s</key>
	<string>🅢</string>
	<key>t</key>
	<string>🅣</string>
	<key>u</key>
	<string>🅤</string>
	<key>v</key>
	<string>🅥</string>
	<key>w</key>
	<string>🅦</string>
	<key>x</key>
	<string>🅧</string>
	<key>y</key>
	<string>🅨</string>
	<key>z</key>
	<string>🅩</string>
	<key>0</key>
	<string>⓿</string>
	<key>1</key>
	<string>❶</string>
	<key>2</key>
	<string>❷</string>
	<key>3</key>
	<string>❸</string>
	<key>4</key>
	<string>❹</string>
	<key>5</key>
	<string>❺</string>
	<key>6</key>
	<string>❻</string>
	<key>7</key>
	<string>❼</string>
	<key>8</key>
	<string>❽</string>
	<key>9</key>
	<string>❾</string>
</dict>
</plist>
