<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>ᵀᴵᴺᵞ</string>
	<key>a</key>
	<string>ᴬ</string>
	<key>b</key>
	<string>ᴮ</string>
	<key>c</key>
	<string>ᶜ</string>
	<key>d</key>
	<string>ᴰ</string>
	<key>e</key>
	<string>ᴱ</string>
	<key>f</key>
	<string>ᶠ</string>
	<key>g</key>
	<string>ᴳ</string>
	<key>h</key>
	<string>ᴴ</string>
	<key>i</key>
	<string>ᴵ</string>
	<key>j</key>
	<string>ᴶ</string>
	<key>k</key>
	<string>ᴷ</string>
	<key>l</key>
	<string>ᴸ</string>
	<key>m</key>
	<string>ᴹ</string>
	<key>n</key>
	<string>ᴺ</string>
	<key>o</key>
	<string>ᴼ</string>
	<key>p</key>
	<string>ᴾ</string>
	<key>q</key>
	<string>ᵟ</string>
	<key>r</key>
	<string>ᴿ</string>
	<key>s</key>
	<string>ˢ</string>
	<key>t</key>
	<string>ᵀ</string>
	<key>u</key>
	<string>ᵁ</string>
	<key>v</key>
	<string>ᵛ</string>
	<key>w</key>
	<string>ᵂ</string>
	<key>x</key>
	<string>ˣ</string>
	<key>y</key>
	<string>ᵞ</string>
	<key>z</key>
	<string>ᶻ</string>
</dict>
</plist>
